<div class="row">
    <div class="col-md-5">
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>{{ 'user.name' | translate }}</th>
                <th></th>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.id}}</td>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td><a href="" ng-click="doEditUser(user)">{{ 'user.edit' | translate }}</a> | <a
                    href="" ng-click="doDeleteUser(user.id)">{{ 'user.delete' | translate }}</a></td>
            </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <h2>{{ 'user.information' | translate }}</h2>
        <div class="row">
            <form novalidate class="simple-form" name="userForm">
                <div class="form-group">
                    <label for="firstName">{{ 'user.first_name' | translate }}</label> <input type="text"
                        class="form-control" name="firstName" placeholder="{{ 'user.first_name' | translate }}"
                        ng-model="user.firstName" required>
                    <div ng-show="userForm.$submitted || userForm.firstName.$touched">
                        <span ng-show="userForm.firstName.$error.required"
                            class="hasError">{{ 'user.first_name_required' | translate }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">{{ 'user.last_name' | translate }}</label> <input type="text"
                        class="form-control" name="lastName" placeholder="{{ 'user.last_name' | translate }}"
                        ng-model="user.lastName" required>
                    <div ng-show="userForm.$submitted || userForm.lastName.$touched">
                        <span ng-show="userForm.lastName.$error.required" class="hasError">{{ 'user.last_name_required' | translate }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="age">{{ 'user.age' | translate }}</label> <input type="text"
                        class="form-control" name="age" placeholder="{{ 'user.age' | translate }}"
                        ng-model="user.age" required>
                    <div ng-show="userForm.$submitted || userForm.age.$touched">
                        <span ng-show="userForm.age.$error.required" class="hasError">{{ 'user.age_required' | translate }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label> <input type="radio" name="genderOptions"
                            id="genderRadioM" value="M" ng-model="user.gender" checked />
                            {{ 'user.male' | translate }}
                        </label> <label> <input type="radio" name="genderOptions"
                            id="genderRadioF" value="F" ng-model="user.gender" /> {{ 'user.female' | translate }}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" id="userId" ng-model="user.id" /> <input
                        type="button" class="btn btn-default" ng-click="reset()"
                        value="{{ 'user.reset' | translate }}" /> <input type="submit" class="btn btn-default"
                        ng-click="doSubmit()" value="{{ 'user.submit' | translate }}"
                        ng-disabled="userForm.$invalid" />
                </div>
            </form>

			<div class="alert alert-danger alert-dismissable" ng-show="error">
				<a class="close" data-dismiss="alert" aria-label="close" ng-click="error = false">&times;</a>
				<strong>{{ 'index.oops' | translate }}</strong> {{ 'index.error' | translate }}.
			</div>
		</div>
    </div>
</div>