.view-content {
	padding-top: 60px;
}

.navbar {
	background-image: none !important;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -180px;
	padding-bottom: 180px;
}

footer {
	height: 180px;
	background-color: #1a1a1a;
	padding-top: 15px;
	padding-left: 15px;
}

img.language {
	cursor:pointer;
}