<div class="row">
    <div class="col-md-5">
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>{{ 'car.brand' | translate }}</th>
                <th>{{ 'car.model' | translate }}</th>
                <th>{{ 'car.numberPlate' | translate }}</th>
                <th>{{ 'car.user' | translate }}</th>
            </tr>
            <tr ng-repeat="car in cars">
                <td>{{car.id}}</td>
                <td>{{car.brand}}</td>
                <td>{{car.model}}</td>
                <td>{{car.numberPlate}}</td>
                <td>{{car.user.firstName}} {{car.user.lastName}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <h2>{{ 'car.info' | translate }}</h2>
        <div class="row">
            <form novalidate class="simple-form" name="carForm">
                <div class="form-group">
                    <label for="brand">{{ 'car.brand' | translate }}</label> <input type="text"
                        class="form-control" name="brand" placeholder="{{ 'car.brand' | translate }}"
                        ng-model="car.brand" required>
                    <div ng-show="carForm.$submitted || carForm.brand.$touched">
                        <span ng-show="carForm.brand.$error.required"
                            class="hasError">{{ 'car.brand_required' | translate }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="model">{{ 'car.model' | translate }}</label> <input type="text"
                        class="form-control" name="model" placeholder="{{ 'car.model' | translate }}"
                        ng-model="car.model" required>
                    <div ng-show="carForm.$submitted || carForm.model.$touched">
                        <span ng-show="carForm.model.$error.required"
                            class="hasError">{{ 'car.model_required' | translate }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="numberPlate">{{ 'car.numberPlate' | translate }}</label> <input type="text"
                        class="form-control" name="numberPlate" placeholder="{{ 'car.numberPlate' | translate }}"
                        ng-model="car.numberPlate" required>
                    <div ng-show="carForm.$submitted || carForm.numberPlate.$touched">
                        <span ng-show="carForm.numberPlate.$error.required"
                            class="hasError">{{ 'car.numberPlate_required' | translate }}</span>
                    </div>
                </div>
				<div class="form-group">
					<label for="user">{{ 'car.user' | translate }}</label>
					<select class="form-control" name="user" id="user" ng-options="user as user.firstName + ' ' + user.lastName for user in users track by user.id" ng-model="car.user"></select>
				</div>
				<div class="form-group">
                    <input type="hidden" id="carId" ng-model="car.id" /> <input
                        type="button" class="btn btn-default" ng-click="reset()"
                        value="{{ 'car.reset' | translate }}" /> <input type="submit" class="btn btn-default"
                        ng-click="doSubmit()" value="{{ 'car.submit' | translate }}"
                        ng-disabled="carForm.$invalid" />
                </div>
            </form>
        </div>
    </div>
</div>