<!DOCTYPE html>
<html lang="en" ng-app="angularApp">
<head>
<meta charset="utf-8" />
<title>sprouts-core</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="webjars/angular-swagger-ui/0.4.0/dist/css/swagger-ui.min.css" rel="stylesheet" >
<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/">sprouts-core</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#/">{{ 'index.home' | translate }}</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
		
		<div class="container">
			<div ng-view="" class="view-content"></div>
		</div>
	</div>

	<footer>
		<div class="container text-muted">
			<div class="row">
				<div class="col-md-4">
					<h4>sprouts-core</h4>
					<img src="img/sprouts-white.png" height="80"/>
					<p>&copy Sprouts Framework</p>
				</div>
				<div class="col-md-4">
					<h4>{{ 'index.source_code' | translate }}</h4>
					<a href="https://github.com/jjxp/sprouts-core/"><img src="img/github-white.png" height="50"/></a>
					<br><br>
					<p>{{ 'index.apidocs_1' | translate }} <a href="#/apiDoc">{{ 'index.apidocs_2' | translate }}</a> {{ 'index.apidocs_3' | translate }}</p>
				</div>
				<div class="col-md-4" ng-controller="languageController">
					<h4>{{ 'index.language' | translate }}</h4>
					<img ng-click="changeLanguage('en')" src="https://image.flaticon.com/icons/svg/197/197374.svg" width="25" class="language"/>  
					<img ng-click="changeLanguage('es')" src="https://image.flaticon.com/icons/svg/197/197593.svg" width="25" class="language"/>
				</div>
			</div>
		</div>
	</footer>

	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>
	<script src="webjars/angular-swagger-ui/0.4.0/dist/scripts/swagger-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.13.1/angular-translate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.13.1/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	<script src="./app/app.js"></script>
	<script src="./app/controller/routes.js"></script>
	<script src="./app/controller/userController.js"></script>
	<script src="./app/controller/apiDocController.js"></script>
</body>
</html>